@font-face {
   font-family: 'FontsFree-Net-Estricta-Regular';
   font-display: swap;
   src: url('file:///C:/Users/dml_8/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-02-22_145423/fonts/FontsFree-Net-Estricta-Regular/font.ttf');
}
